<main role="main" class="col-md-12">
	<div class="d-flex justify-content-center flex-wrap flex-md-nowrap pt-3 border-bottom">
		{{!-- <div class="table-responsive">
			<table class="table table-hover">
				<tbody>
					<tr>
						<td class="text-center" rowspan="6" style="width:30%"><i class="fa fa-user fa-fw avatar" aria-hidden="true"></i></td>
					</tr>
					<tr>
						<td class="h3" colspan="2"><strong>{{userInfo.fullname}}</strong></td>
					</tr>
					<tr>
						<th class="text-center" style="width:10%">Подразделение:</th>
						<td>{{userInfo.department}}</td>
					</tr>
					<tr>
						<th class="text-center">Должность:</th>
						<td>{{userInfo.position}}</td>
					</tr>
					<tr>
						<th class="text-center">Email:</th>
						<td>{{userInfo.email}}</td>
					</tr>
					<tr>
						<th class="text-center">Телефон:</th>
						<td>{{userInfo.phone}}</td>
					</tr>
				</tbody>
			</table>
		</div> --}}

		<div class="card col-md-12">
			<div class="card-body">
				<div class="row">
					<div class="col-md-3 align-items-center">
						<span><i class="fa fa-user fa-fw avatar" aria-hidden="true"></i></span>
					</div>
					<div class="col-md-9 align-items-left">
						<div class="card-text mb-3 h3"><strong>{{userInfo.fullname}}</strong></div>
						<div class="card-text"><span class="infoLabel">Подразделение:</span> {{userInfo.department}}</div>
						<div class="card-text"><span class="infoLabel">Должность:</span> {{userInfo.position}}</div>
						<div class="card-text"><span class="infoLabel">Email:</span> {{userInfo.email}}</div>
						<div class="card-text"><span class="infoLabel">Телефон:</span> {{userInfo.phone}}</div>
					</div>
				</div>
			</div>
		</div>


		{{#if canEdit}}
		<div class="row" style="margin-top:20px">
			<div class="col-md-12">
				<a href="/user/profile/{{userInfo.id}}/edit"><i class="glyphicon glyphicon-edit" aria-hidden="true"></i>
					Редактировать профиль</a><br>
			</div>
		</div>
		{{/if}}
	</div>

</main>

<link rel="stylesheet" href="/styles/user/profile.css">